*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #485e74;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: repeat(auto, minmax(20px, 1fr));
  grid-template-rows: 60px auto 210px; }

.header {
  grid-column: span 12;
  background: #43bebe;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7); }
  .header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; }
    .header .logo img {
      margin: 10px;
      width: 50px;
      height: 50px; }
  .header .search {
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 40px;
    border-radius: 40px;
    padding: 10px; }
    .header .search .search-btn {
      color: red;
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: green;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header .search .search-txt {
      border: none;
      background: none;
      outline: none;
      float: left;
      padding: 0;
      color: white;
      font-size: 16px;
      transition: 0.4s;
      line-height: 40px;
      width: 0px;
      transition: 0.4s; }
    .header .search:hover .search-txt {
      width: 240px; }
    .header .search:hover .search-btn {
      background: yellow; }
  .header .navbar {
    width: 45%; }
    .header .navbar .profile {
      display: flex;
      justify-content: center;
      align-content: center; }
    .header .navbar ul {
      display: flex;
      list-style: none;
      justify-content: flex-end; }
      .header .navbar ul li {
        position: relative;
        width: 100%;
        text-align: center; }
        .header .navbar ul li a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffff;
          height: 60px;
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase; }
        .header .navbar ul li a:hover {
          background: #485e74; }

.sidemenu {
  background: #43bebe;
  grid-column: span 1;
  display: flex;
  flex-direction: column; }
  .sidemenu ul li {
    flex: 1;
    display: block; }
    .sidemenu ul li a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #ffff;
      height: 70px;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px; }
    .sidemenu ul li a:hover, .sidemenu ul li a:focus {
      background: #485e74; }

.main {
  grid-column: span 11;
  background: indianred;
  padding-left: 20px; }
  .main .content {
    display: grid;
    grid-template-columns: repeat(auto, minmax(20px, 1fr));
    display: flex;
    flex-wrap: wrap; }
    .main .content .title {
      grid-column: span 12;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .content .title h1 {
        text-decoration: underline; }
    .main .content .slide {
      grid-column: span 12;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .main .content .slide .slider {
        display: flex;
        background: darkmagenta;
        border-radius: 1rem;
        padding: 2rem;
        box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.8);
        transition: 0.5s; }
        .main .content .slide .slider:not(:first-child) {
          margin-left: -2rem; }
        .main .content .slide .slider:hover {
          transform: translateY(-1rem); }
          .main .content .slide .slider:hover ~ .slider {
            background: yellow;
            transform: translateX(4rem); }
    .main .content .card {
      width: 16%;
      box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
      border-radius: 12px;
      height: 50vh;
      margin: 10px; }
      .main .content .card .flair {
        background: url("./img/7.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-blend-mode: darken;
        background-position: center top;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        background-position: 50%;
        background-size: cover; }

.footer {
  background: rgba(21, 33, 44, 0.945);
  grid-column: span 12;
  display: flex; }
  .footer .footer-social {
    flex: 1;
    width: 25%;
    border: 1px red solid;
    height: 100%; }
  .footer .footer-links {
    flex: 1;
    width: 25%;
    height: 100%; }
  .footer .footer-terms {
    flex: 1;
    width: 25%;
    height: 100%; }
  .footer .footer-location {
    flex: 1;
    width: 25%;
    height: 100%; }

@media screen and (max-width: 950px) {
  .header .navbar {
    width: 70%; }
  .header .search {
    width: 20%; }
  .header .logo {
    width: 10%; }

  .sidemenu {
    display: none; }

  .main {
    grid-column: span 12;
    height: 100%; }
    .main .card {
      width: 30%; } }
@media screen and (max-width: 700px) {
  .header .navbar {
    display: none; }
  .header .search {
    display: none; }
  .header .logo {
    display: none; }

  .sidemenu {
    display: none; }

  .main {
    grid-column: span 12;
    height: 100%; }
    .main .content .card {
      width: 30%; } }
@media screen and (max-width: 600px) {
  .sidemenu {
    display: none; }

  .main {
    grid-column: span 12;
    height: 100%; }
    .main .content .card {
      width: 40%; } }
@media screen and (max-width: 350px) {
  .header {
    grid-column: span 12; }

  .sidemenu {
    display: none; }

  .main {
    grid-column: span 12;
    height: 100%; }
    .main .content .card {
      width: 100%; }

  .footer {
    grid-column: span 12; }
    .footer .footer-social {
      width: 100%; }
    .footer .footer-links {
      width: 100%; }
    .footer .footer-terms {
      width: 100%; }
    .footer .footer-location {
      width: 100%; } }

/*# sourceMappingURL=cards.css.map */
