
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #485e74;
    line-height: 1.6;


}
.container {
    display: grid;
    // grid-template: 60px auto 210px / repeat(auto, minmax(20px, 1fr));

    grid-template-columns: repeat(auto,  minmax(20px, 1fr));
    grid-template-rows: 60px auto 210px;
    
}

.header {
    grid-column: span 12;
    background: rgb(67, 190, 190);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;

        img {
            margin: 10px;
            width: 50px;
            height: 50px;
        }

    }
    .search {
        // display: flex;
        justify-self: center;
        align-self: center;
        width: 40%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // background: rgba(72, 94, 116, 0.7);
        height: 40px;

        border-radius: 40px;
        padding: 10px;


        .search-btn {
            color: red;
            float: right;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: green;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search-txt {
            border: none;
            background: none;
            
            outline: none;
            float: left;
            padding:0;
            color:white;
            font-size: 16px;
            transition: 0.4s;
            line-height: 40px;
            width: 0px;
            transition: 0.4s;
        }

        &:hover {
            .search-txt{
                width: 240px;
            }

            .search-btn{
                background: yellow;
            }
        }


    }

   

    .navbar {  
       
        width: 45%;

        .profile {
            display: flex;
            justify-content: center;
            align-content: center;

        // img {
        //     margin: 10px;
        //     width: 50px;
        //     height: 50px;
        // }

        }


        ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            li {
                position: relative;
                width: 100%;
                text-align:center;
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffff;
                    // background:cyan;
                    height: 60px;
                    text-decoration: none;
                    font-weight: bold;
                    text-transform: uppercase;  
                }

                a:hover {
                    background: #485e74;
                }
            } 

        }

        


    }
}

.sidemenu {
    background: rgb(67, 190, 190);
   grid-column: span 1;

   display: flex;
   flex-direction: column;
ul {
    li {
        flex: 1;
        display: block;

        a {
            display: flex;
            
            align-items: center;
            justify-content: flex-start;
            color: #ffff;
            // background:rgb(48, 128, 128);
            height: 70px;
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase; 
            padding: 10px;
        }

        a:hover, a:focus {
           background: #485e74;
        }
 
    }
}
  
   
}



.main {
    
    grid-column: span 11;
    background: indianred;
    // display: flex;
    // flex-wrap: wrap;
    padding-left: 20px;



    .content {
        display: grid;
        grid-template-columns: repeat(auto, minmax(20px, 1fr));
        display: flex;
        flex-wrap: wrap;
        

        .title {
            grid-column: span 12;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1 {
                text-decoration: underline;
            }
        }


        .slide {
            grid-column: span 12;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slider {
                display: flex;
                background: darkmagenta;
                border-radius: 1rem;
                padding: 2rem;
               
                box-shadow: 4px 4px 15px 2px rgba(black,0.8); 
                transition: 0.5s;     
            
            &:not(:first-child){
                margin-left: -2rem;
            }
            &:hover {
                transform: translateY(-1rem);

                ~ .slider {
                    background: yellow;
                    transform: translateX(4rem);
                }
            }
           
        
        }
       
        }

        .card {
            width: 16%;
            box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
            border-radius: 12px;
            height: 50vh;
            margin: 10px;


            .flair {
                background: url("./img/7.jpg");
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
      background-attachment: fixed;
    //   background-color: lighten($primary, 10);
      background-blend-mode: darken;
      background-position: center top;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      background-position: 50%;
      background-size: cover;
            
            }
    
        }
    }

  

  

}

.footer {
    background: rgba(21, 33, 44, 0.945);
    grid-column: span 12;

    display: flex;

    .footer-social {
        flex: 1;
        width:25%;

        border: 1px red solid;

        height: 100%;
    }

    .footer-links {
        flex: 1;
        width:25%;

        height: 100%;
    }

    .footer-terms {
        flex: 1;

        width:25%;


        height: 100%;
    }

    .footer-location {
        flex: 1;
        width:25%;

        height: 100%;
    }
}




@media screen and (max-width: 950px){
    .header {
        .navbar {
            width:70%;

        
        }

        .search {
            width:20%;        }

        .logo {
            width:10%;    }

        }

    .sidemenu {

        display: none;

    }


    .main {
        grid-column: span 12;
        height: 100%;

        .card {
            width: 30%;
        }
    }
  
}


@media screen and (max-width: 700px){

    .header {
        .navbar {
            display: none;

        
        }

        .search {
            display: none;
        }

        .logo {
            display: none;        }
    }

    .sidemenu {

        display: none;

    }


    .main {
        grid-column: span 12;
        height: 100%;
.content {

    
    .card {
        width: 30%;
    }
}

}

}


@media screen and (max-width: 600px){

   
  

    .sidemenu {

        display: none;

    }


    .main {
        grid-column: span 12;
        height: 100%;

        .content {

    
            .card {
                width: 40%;
            }
        }
    }

}



@media screen and (max-width: 350px){
    .header {
        grid-column: span 12;
    }

    .sidemenu {

        display: none;

    }


    .main {
        grid-column: span 12;
        height: 100%;
        .content {

    
            .card {
                width: 100%;
            }
        }
    }
    .footer {
        grid-column: span 12;

        .footer-social {
            width:100%;
    
    
        }
    
        .footer-links {
            width:100%;
    
        }
    
        .footer-terms {
    
            width:100%;
    
    
        }
    
        .footer-location {
            width:100%;
         
        }



    }
}

