
$primary: #417690;
$secondary: rgb(250, 245, 245);
$text-color: #f5dd5d;
$original-text-color: white;



*, ::before, ::after {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    color: $original-text-color;

}

body {
    background: $secondary;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, ifr);
    grid-template-rows: 70px 40px auto 200px;
}

.header {
    grid-column: span 12;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;

    .logo {
        
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .logo-text {

            a {
                color: $text-color;
                font-size: 25px;
                text-decoration: none;

            }

        }
    }

    .search {
        
        width: 30%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .search-area {
            width: 60%;
            height: 60%;
            border: 1px red solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: darkgray;
            border-radius: 50px;
            padding: 10px;

            input {
                background: darkgray;
            }
        }
    }

    .navbar {
        
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;


        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            list-style: none;
            li {
                a {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin: 10px;
                    color:  white;

                }
                a:hover {
                   
                   color:$text-color;
                }
            }
        }
    
    }
}

.breadcrump {
    grid-column: span 12;
    display: flex;
    justify-content: flex-start;
    background: lighten($primary, 10%);
    padding-left: 20px;
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.0);

    .bread {
        padding: 6px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
       

        a {
            text-decoration: none;
            padding-right: 3px;
        }
        a:hover {
            color: $text-color;
        }
    }
   
}



.dashboard {
    grid-column: span 12;
    display: flex;

    .sidemenu {
        flex: 2;
        height: 100%;
        background: $primary;

        .sidemenu-list {
            display: flex;
            flex-direction: column;
            list-style: none;


            li {
                padding-left: 10px;

                 a {
                    
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin: 10px;
                    color:  white;

                 }

                 &:hover {
                     background: $text-color;
                 }
            }
        }

    }

    .main {
        flex: 10;
        background: $secondary;

        .dashboard-content {
            display: grid;
            grid-template-columns: repeat(14, 1fr);
            grid-template-rows: auto;
            height: 100%;



            .right {
                grid-column: span 11;
                background: $text-color;

                padding-top: 30px;
              

                .table-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .table {
                        width: 90%;
                        
                        .table-header {
                            background: $primary;
                            width: 100%;
                            tr {
                                border: none;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;

                                th {
                                    border: none;
                                   

                                }
                            }
                        }
    
                        .table-body {
                            width: 100%;
                            tbody {

                                tr {
                                    border: none;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;
    
                                    th {
                                        border: none;
                                       
    
                                    }
                                }

                            }
    
                        }
    
    
                    }
                }

              

            }


            .left {
                grid-column: span 3;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


.footer {
    grid-column: span 12;
    display: flex;
    height: 100%;
    background: darken($primary, 20%);


    .footer-bar {
        width: 100%;
        display: flex;
        height: 30%;
        background: darkern($primary, 60%);

        border: 1px red solid;
    }

  
}


