*, ::before, ::after {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  color: white; }

body {
  background: #faf5f5; }

.container {
  display: grid;
  grid-template-columns: repeat(12, ifr);
  grid-template-rows: 70px 40px auto 200px; }

.header {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #417690; }
  .header .logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .logo .logo-text a {
      color: #f5dd5d;
      font-size: 25px;
      text-decoration: none; }
  .header .search {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .search .search-area {
      width: 60%;
      height: 60%;
      border: 1px red solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: darkgray;
      border-radius: 50px;
      padding: 10px; }
      .header .search .search-area input {
        background: darkgray; }
  .header .navbar {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .header .navbar .list {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header .navbar ul {
      list-style: none; }
      .header .navbar ul li a {
        display: flex;
        justify-items: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        margin: 10px;
        color: white; }
      .header .navbar ul li a:hover {
        color: #f5dd5d; }

.breadcrump {
  grid-column: span 12;
  display: flex;
  justify-content: flex-start;
  background: #5392b1;
  padding-left: 20px;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0); }
  .breadcrump .bread {
    padding: 6px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .breadcrump .bread a {
      text-decoration: none;
      padding-right: 3px; }
    .breadcrump .bread a:hover {
      color: #f5dd5d; }

.dashboard {
  grid-column: span 12;
  display: flex; }
  .dashboard .sidemenu {
    flex: 2;
    height: 100%;
    background: #417690; }
    .dashboard .sidemenu .sidemenu-list {
      display: flex;
      flex-direction: column;
      list-style: none; }
      .dashboard .sidemenu .sidemenu-list li {
        padding-left: 10px; }
        .dashboard .sidemenu .sidemenu-list li a {
          display: flex;
          justify-items: center;
          align-items: center;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          margin: 10px;
          color: white; }
        .dashboard .sidemenu .sidemenu-list li:hover {
          background: #f5dd5d; }
  .dashboard .main {
    flex: 10;
    background: #faf5f5; }
    .dashboard .main .dashboard-content {
      display: grid;
      grid-template-columns: repeat(14, 1fr);
      grid-template-rows: auto;
      height: 100%; }
      .dashboard .main .dashboard-content .right {
        grid-column: span 11;
        background: #f5dd5d;
        padding-top: 30px; }
        .dashboard .main .dashboard-content .right .table-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .dashboard .main .dashboard-content .right .table-wrapper .table {
            width: 90%; }
            .dashboard .main .dashboard-content .right .table-wrapper .table .table-header {
              background: #417690;
              width: 100%; }
              .dashboard .main .dashboard-content .right .table-wrapper .table .table-header tr {
                border: none;
                display: flex;
                justify-content: space-around;
                align-items: center; }
                .dashboard .main .dashboard-content .right .table-wrapper .table .table-header tr th {
                  border: none; }
            .dashboard .main .dashboard-content .right .table-wrapper .table .table-body {
              width: 100%; }
              .dashboard .main .dashboard-content .right .table-wrapper .table .table-body tbody tr {
                border: none;
                display: flex;
                justify-content: space-around;
                align-items: center; }
                .dashboard .main .dashboard-content .right .table-wrapper .table .table-body tbody tr th {
                  border: none; }
      .dashboard .main .dashboard-content .left {
        grid-column: span 3;
        display: flex;
        justify-content: center;
        align-items: center; }

.footer {
  grid-column: span 12;
  display: flex;
  height: 100%;
  background: #213c4a; }
  .footer .footer-bar {
    width: 100%;
    display: flex;
    height: 30%;
    background: darkern(#417690, 60%);
    border: 1px red solid; }

/*# sourceMappingURL=dashboard.css.map */
