*, ::before, ::after {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0; }

body {
  background: cornflowerblue; }

.site-header {
  height: var(--nav-height);
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #100e17;
  border-bottom: 1px solid #201c29;
  -webkit-animation: none;
  animation: none; }

body.header-not-at-top .site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-animation: move-down .2s forwards;
  animation: move-down .2s forwards; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border: 1px black; }
  .header .logo {
    flex: 1;
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 0 40px;
    position: relative;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .header-middle-area {
    flex: 1; }
  .header .search {
    flex: 1; }
  .header .mobile-actions {
    display: none; }

/*# sourceMappingURL=header.css.map */
