*, ::before, ::after {
    box-sizing: border-box;
    padding:0;
    margin: 0;
}

body {
    background: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* .topbar {
    display: flex;
    background:rgb(69, 244, 247, 0.7);

} */
.topbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background:cyan;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;  
}


.topbar ul li a:hover {
    background: tomato;
    color: white;
  

}

.topbar ul {
    display: flex;
    list-style: none;
}

.topbar ul li {
    position: relative;
    width: 100%;
    text-align:center;
}

.topbar ul li a:hover .dropdown li  {
    top: 0;
    display: block;
  
}

.dropdown ul li {
    display: none;
    position: relative;
}

 .dropdown {
     position: relative;
     display: flex;
     flex-direction: column;
     width: 100%;
 }

 .dropdown ul li:hover .dropdown-inner ul li  {
    display: block;
    
}

.dropdown-inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}