
$primary: #417690;
$secondary: rgb(250, 245, 245);
$text-color: #f5dd5d;
$original-text-color: white;



*, ::before, ::after {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    color: $original-text-color;

}

body {
    background: $secondary;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, ifr);
    grid-template-rows: 70px 40px auto 40px 300px 200px;
}

.header {
    grid-column: span 12;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary;

    .logo {
        
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .logo-text {

            a {
                color: $text-color;
                font-size: 25px;
                text-decoration: none;

            }

        }
    }

    .search {
        
        width: 30%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .search-area {
            width: 60%;
            height: 60%;
            border: 1px red solid;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: darkgray;
            border-radius: 50px;
            padding: 10px;

            input {
                background: darkgray;
            }
        }
    }

    .navbar {
        
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;


        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul {
            list-style: none;
            li {
                a {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    margin: 10px;
                    color:  white;

                }
                a:hover {
                   
                   color:$text-color;
                }
            }
        }
    
    }
}

.breadcrump {
    grid-column: span 12;
    display: flex;
    justify-content: flex-start;
    background: lighten($primary, 10%);
    padding-left: 20px;

    .bread {
        padding: 6px;
        line-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
       

        a {
            text-decoration: none;
            padding-right: 3px;
        }
        a:hover {
            color: $text-color;
        }
    }
   
}


.biodata {
    grid-column: span 12;
    height: 35vh;
    background: darken($secondary, 5%);

    .content {
        display: flex;
        height: 100%;

        .bio {
            width: 50%;
            order: 1;
            height: 100%;

        }

        
        .image {
            height: 100%;
            width: 50%;
            order: 0;
            display: flex;
            justify-content: center;
            align-items: center;


            .real-icon {
                background: url('/img/7.jpg');
                height: 50%;
                width: 50%;



            }
            
        }
    }
}

.actions {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darken($primary, 10%);

    .tabs-container {
        width: 50%;
        height: 100%;
        display: flex;



        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25%;
            height: 100%;

            a {
                text-decoration: none;
                
            }

            &:hover {
                background: $text-color;
            }
           
        }

        
    }

   
}


.content-area {
    grid-column: span 12;
    display: flex;
    height: 100%;
    background: $text-color;
   
}



.footer {
    grid-column: span 12;
    display: flex;
    height: 100%;
    background: darken($primary, 20%);

  
}


