*, ::before, ::after {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.6;
  color: white; }

body {
  background: #faf5f5; }

.container {
  display: grid;
  grid-template-columns: repeat(12, ifr);
  grid-template-rows: 70px 40px auto 40px 300px 200px; }

.header {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #417690; }
  .header .logo {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .logo .logo-text a {
      color: #f5dd5d;
      font-size: 25px;
      text-decoration: none; }
  .header .search {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .search .search-area {
      width: 60%;
      height: 60%;
      border: 1px red solid;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: darkgray;
      border-radius: 50px;
      padding: 10px; }
      .header .search .search-area input {
        background: darkgray; }
  .header .navbar {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .header .navbar .list {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .header .navbar ul {
      list-style: none; }
      .header .navbar ul li a {
        display: flex;
        justify-items: center;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        margin: 10px;
        color: white; }
      .header .navbar ul li a:hover {
        color: #f5dd5d; }

.breadcrump {
  grid-column: span 12;
  display: flex;
  justify-content: flex-start;
  background: #5392b1;
  padding-left: 20px; }
  .breadcrump .bread {
    padding: 6px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .breadcrump .bread a {
      text-decoration: none;
      padding-right: 3px; }
    .breadcrump .bread a:hover {
      color: #f5dd5d; }

.biodata {
  grid-column: span 12;
  height: 35vh;
  background: #f2e4e4; }
  .biodata .content {
    display: flex;
    height: 100%; }
    .biodata .content .bio {
      width: 50%;
      order: 1;
      height: 100%; }
    .biodata .content .image {
      height: 100%;
      width: 50%;
      order: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .biodata .content .image .real-icon {
        background: url("/img/7.jpg");
        height: 50%;
        width: 50%; }

.actions {
  grid-column: span 12;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #31596d; }
  .actions .tabs-container {
    width: 50%;
    height: 100%;
    display: flex; }
    .actions .tabs-container .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      height: 100%; }
      .actions .tabs-container .tab a {
        text-decoration: none; }
      .actions .tabs-container .tab:hover {
        background: #f5dd5d; }

.content-area {
  grid-column: span 12;
  display: flex;
  height: 100%;
  background: #f5dd5d; }

.footer {
  grid-column: span 12;
  display: flex;
  height: 100%;
  background: #213c4a; }

/*# sourceMappingURL=profile.css.map */
