* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.publishing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .publishing .header {
    height: 20vh;
    width: 100%; }
  .publishing .content {
    height: 80vh;
    background: green;
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
    .publishing .content .deck {
      width: 30%;
      background: coral;
      height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .publishing .content .deck .circle {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center; }
        .deck .publishing .content .deck .circle {
          background: grey; }
      .publishing .content .deck .line {
        width: 2px;
        background: white;
        height: 20vh; }
    .publishing .content .para {
      width: 70%;
      background: palegreen;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 30vh; }
      .publishing .content .para .h2 {
        color: white; }
      .publishing .content .para .p {
        color: gray; }

/*# sourceMappingURL=publishing.css.map */
