* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.publishing {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

    .header {
        height: 20vh;
        width: 100%;

    }

    .content {
        height: 80vh;
        background: green;

        width: 80%;
        display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;

.deck {
    width:30%;
    background: coral;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .circle {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;


        .deck & {
            background: grey;
        }
    }
    .line {
        width: 2px;
        background: white;
        height: 20vh;
       
    }


}
.para {
    width: 70%;
    background: palegreen;
    display: flex;
    justify-content: center;
   flex-direction: column;
   align-items: center;
   height: 30vh;

    .h2 {
        color:white;
    }

    .p {
        color: gray;
    }
}
    }
}