*, ::before, ::after {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
}

/* colors in css: color name, html5 color names, hexadeciaml, rgb */
/* web safe fonts already loaded no need to import  */
body {
    background-color: #d6bdbd;
    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 12px;
    font-weight: normal;
    /* font: normal 12px Ariel, Helvetica, sans-serif; */

    
    line-height: 1.6em;

}

.box-1 {
    background-color: #333333;
    color: #fff;
    border: 1px red solid;
    /* border-bottom-style: dotted; */
}

.box-1 h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

/* margin: top right bottom left */
/* border: size color style */

.container {
    width: 80%;
    position: relative;
}