
.box {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: #aaa;
    transition: transform 2s, width 5s, height 5s;
}


.box:hover {
    width: 400px;
    height: 400px;
    transform: rotate(90000deg)
}


label {
    display: inline-block;
    background: red;
    height: 200px;
    width: 100px;
    position: relative;

}


.check {
    display: none;

}

.btn {
    display: inline-block;
    background: red;
    height: 50px;
    width: 100px;
    border-radius: 50px;
}

.btn::before {
    content: "";
    position: relative;
    height: 70px;
    width: 70px;
    background: coral;
}