body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  position: relative;
  width: 360px;
  height: 640px;
  margin-top: 150px;
  background: black;
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s; }
  .container img {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.5s; }
  .container:hover img:nth-child(5) {
    transform: translate(160px, -160px);
    opacity: 1; }
  .container:hover img:nth-child(4) {
    transform: translate(120px, -120px);
    opacity: 0.8; }
  .container:hover img:nth-child(3) {
    transform: translate(80px, -80px);
    opacity: 0.6; }
  .container:hover img:nth-child(2) {
    transform: translate(40px, -40px);
    opacity: 0.4; }
  .container:hover img:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 0.2; }

/*# sourceMappingURL=style.css.map */
